#title {
  background-color: #ff4c68;
}
body {
  font-family: 'Anton', sans-serif;
  
}

h1, h2, h3{
  font-family: 'Anton', sans-serif;
}


h3 {

  font-size: 1.5rem;
  text-align: center;
}

p {
  color: #8f8f8f;
  text-align: center;
  margin: 20%;
}

.container-fluid {
  padding: 3% 15% 7%;
}


.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 100px;
  margin-left: 165px;
  font-weight: bold;
  display: inline-block;
}

.navbar {
  margin-bottom: 25px;
}

.navbar-nav {
  padding: 0 200px;
}

.adjust {
  margin-left: 180px;
}

.nav-item {
  padding: 20px;
}

.download-button {
  margin-top: 30px;
}

a.navbar-brand {
  font-size: 2rem;
}

.profile {
  width: 40%;
  transform: rotate(25deg);
  position: absolute;
  right: 50%;
}

.new {
  font-size: 3rem;
  line-height: 1.5;
  color: white;
  width: 50%;
  margin-left: 180px;
}


#features {
  padding: 7% 7%;
  position: relative;
  background-color: white;
}

.feature-box {
  padding: 2%;
  text-align: center;
}

.icon {
  margin-bottom: 20px;
  color: #ef8172;
}

.icon:hover {
  color: #ff4c68
}

#testimonials {
  background-color: #ff4c68;
  text-align: center;
  color: white;
}



.testimonials-image {
  width: 15%;
  border-radius: 100%;
  margin: 2% 2% 0 0;
}

#press {
  background-color: #ff4c68;
  text-align: center;
}

.press-logo {
  width: 15%;
  padding-bottom: 5%;
}

.carousel-item {
  padding: 7% 15%;
}

#pricing {
  padding: 50px 90px;
  text-align: center;
}
.changes {
  margin-bottom: 70px;
}

.card-body {
  padding: 100px;
}

@media (max-width: 1000px) {
  .profile {
    position: static;
    transform: rotate(0);
    margin-top: 20px;
  }

  #title {
    text-align: center;
  }

  .adjust {
    margin-left: 0;
  }
}

#cta {
  padding: 120px;
  text-align: center;
  background-color: #ff4c68;
  color: #fff;
}

#footer {
  padding: 70px;
  font-size: 0.7rem;
  text-align: center;
  font-family: 'Anton', sans-serif;
}

.design {
  margin: 10px 6px;
}

.trial {
  font-size: 2.5rem;
  text-align: center;
  width: 60%;
  margin: auto;
  line-height: 1.5
}
